.App {
  text-align: center;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
 
::-webkit-scrollbar-track {
  background-color: #EBEBEB;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #c2c2c2;
}

/* common margins: factors of 8px */
.padding-small {
  padding: 8px;
}

.padding-med {
  padding: 16px;
}

.padding-large {
  padding: 24px;
}

.padding-large2 {
  padding: 32px;
}

.margin-small {
  margin: 8px;
}

.margin-med {
  margin: 16px;
}

.margin-large {
  margin: 24px;
}

.margin-large2 {
  margin: 32px;
}

/* common layout */
.flex-vertical-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: #FCFCFC;
  height: 100vh;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #FCFCFC;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FCFCFC;
}

.flex-horizontal-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  background-color: #FCFCFC;
  height: 100vh;
}

.horizontal-orientation {
  display: flex;
  flex-direction: row;
}

.vertical-orientation {
  display: flex;
  flex-direction: column;
}

/* common container */
.full-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* common alignments */
.align-center {
  align-items: center;
  justify-content: center;
}

.align-center-top {
  align-items: center;
  justify-content: flex-start;
}

/* borders */
.border-bottom {
  height: 1px;
  background-color: #E0E0E0;
  margin: 0 8px;
}

/* behaviours */
.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.interactable {
  pointer-events: auto;
}

.uninteractable {
  pointer-events: none;
}